<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <style>
      #map {
        height: 32rem;
        width: 100%;
      }

      body {
        background-color: #fafafa;
      }

      .buttons {
        padding: 2rem;
      }

      span.btn-s {
        margin-top: 2rem;
        margin: 15%;
      }

      footer.footer {
        padding-top: 4rem;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome <%= name %></p>

    <h1>My Portfolio</h1>

    <div class="buttons" id="buttons">
      <span class="btn-s"><button>Add Property</button></span>
      <span class="btn-s"><button>Remove Property</button></span>
    </div>

    <br />
    <br />
    <div id="map"></div>

    <%#Script for the map %>
    <script>
      var a = 5;
      var b = 10;

      function initMap() {
        // Map options
        var options = {
          zoom: 12,
          center: {
            lat: 52.1332,
            lng: -106.67
          }
        };
        // New map
        var map = new google.maps.Map(document.getElementById('map'), options);
        // Array of markers
        var markers = [
          //MONTREAL SITES
          {
            coords: {
              lat: 52.167223,
              lng: -106.572814
            },
            content: '<h1>Property 1</h1> '
          },
          {
            coords: {
              lat: 52.14514,
              lng: -106.556029
            },
            content: '<h1>Property 2</h1> '
          },
          {
            coords: {
              lat: 52.10173,
              lng: -106.652988
            },
            content: '<h1>Property 3</h1>'
          },
          //QUEBEC CITY SITES
          {
            coords: {
              lat: 52.144745,
              lng: -106.712865
            },
            iconImage:
              'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
            content: '<span><h1>Main Office</h1>'
          }
        ];
        // Loop through markers
        for (var i = 0; i < markers.length; i++) {
          // Add marker
          addMarker(markers[i]);
        }
        // Add Marker Function
        function addMarker(props) {
          var marker = new google.maps.Marker({
            position: props.coords,
            map: map
            //icon:props.iconImage
          });
          // Check for customicon
          if (props.iconImage) {
            // Set icon image
            marker.setIcon(props.iconImage);
          }
          // Check content
          if (props.content) {
            var infoWindow = new google.maps.InfoWindow({
              content: props.content
            });
            marker.addListener('click', function() {
              infoWindow.open(map, marker);
            });
          }
        }
      }
    </script>

    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx9kvb15PnXALx3GmFCIARcpAqkOfeeI8&callback=initMap"
    ></script>

    <br />
    <div class="logout-btn">
      <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>

    <footer class="footer">
      developed by: jm
      <p>&copy; 2019 jmutakura.com</p>
      <p></p>
    </footer>
  </body>
</html>
